.navbar {
  background-color: #FF0A11;
  margin: 0 !important;
}

.main-menu {
  margin: 0 !important;
}

.navbar .column {
  padding: 20px !important;
  text-align: right;
  color: white;
  font-size: 20px;
}

.navbar .column.main-menu {
  padding: 0 !important;
}

.navbar .column.home-page {
  text-align: left;
}
